
<%- include("../components/header") %>


<!-- style sheet for leaflet map -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>

<!-- script for leaflet map -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="crossorigin=""></script>


<style src="../../../styles/modal.css"></style>


<%- include("../components/navbar") %>
<a href="." class="btn btn-primary">Done Editing</a>
<button id="show-delete-opt" class="btn btn-danger">Delete List</button>
<div hidden ="true" id="delete-list-options" >
  <form action="delete?_method=DELETE">
    <h2>Click confirm delete button to delete list</h2>

    <button class ="btn btn-danger" type="submit">Confirm delete</button>
    <a id="cancel-delete-btn" class="btn btn-primary">Cancel delete</a>

  </form>

</div>



<div id="list-data" data-imgurls= "<%=JSON.stringify(imgUrlList) %>" data-gps= "<%=JSON.stringify(GPSList) %>"  data-text= "<%=JSON.stringify(textList) %>" data-list= "<%=JSON.stringify(listObj) %>">

<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="userListMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      User's Lists
    </a>
  
    <div class="dropdown-menu" aria-labelledby="userListMenu">
    
        <% if (userLists && userLists.length>0){%>
           <% userLists.forEach(list => { %>
            <a class="dropdown-item" href= "<%=`/lists/${contentOwner._id}/${Object.values(list)}/edit`%>">
              <%=Object.keys(list) %>
            </a>
           <% } )%>
        <%}%>
        

    </div>
  </div>


<form action=<%= `/lists/${contentOwner._id}/${listObj._id }/edit?_method=PUT`  %> method="post">
    <h2>change title below</h2>
    <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">List title</span>
        </div>
        <input type="text" aria-label="title" name = "listTitle" value ="<%=listObj.lst_name %>" class="form-control">

      </div>
      <button type="submit" class="btn btn-primary">Update List</button>
    <h1 class="listTitle"><%=listObj.lst_name %></h1>






<div class="row">
    <div class="col-12 col-md-8">
        <div id="mapid"></div>

    </div>
    <div class="col-6 col-md-4">
       
      <%- include("../components/listOfListItems") %>

    </div>
  </div>

      <div id="item-info-modal" class="modal fade "> 
        
      <div class="modal-dialog modal-xl">
          <div class="modal-content">
             <div class="modal-header"> 
                   <h4 id="modal-list-name" class="modal-title"></h4>
             </div>
           
       <div class="modal-body"> 
         
           <img class="modal-image" id="modal-image" src="" alt="">
           <p id="modal-list-description"></p>

           <p></p>
           <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
       </div>
       
     
        </div> 
      </div>
        
   </div>
  
</div>




<div>
    <h2>check items below to delete from List</h2>
    <% if (listObj.lst_items) {%>
        <ul class="list-group curListItems">
        <% listObj.lst_items.forEach((item, ndx)=>{ %>
          
           
       
            <li>
                <div class="">
                   

                      <span  id=""><input type="checkBox" value="<%= item.itm_Name %>"id="deleteCheckBox<%= ndx%>" class="form-check-input  me-1 list-checkbox " name="deleteListItemsChecked">    <%= item.itm_Name%></span>
               
             
                  </div>
                </li>

    
            <%  }) %>
    
        </ul>
    
        <% }%>
        <%- include('../components/editMessages') %>

    <!-- list of new items to be added -->
    <h1>Add new Items to list by filling in fields and checking box. Click on the Update List button to submit</h1>
        <ul class="list-group newListItems">
            <% for( newNdx=0; newNdx<20; newNdx++){ %>
                <li>
                <div class="input-group">
                   
                    <div class="input-group-prepend">
                      <span class="input-group-text" id=""><input type="checkBox" value="<%= newNdx %>"id="checkBox<%= newNdx%>" class="form-check-input  me-1 list-checkbox" name="newListItemsChecked">
                      </span>
                    </div>
                   <input type="text" id="newItemName<%= newNdx%>"class="form-control" name ="listNames%>" placeHolder="Enter List Item name">
                    <input type="text" id="newUrl<%= newNdx%>" class="form-control" name="wikiUrls" placeHolder="Enter wikipedia url">
                  </div>
                </li>
                   
                
                        <%  } %>
              
                    </ul>
                


      <!-- create a list of text fields , wiki address and item name-->




        

</div>
<button type="submit" class="btn btn-primary">Update List</button>
</form>





<div id="map-script-string" data-script="<%= mapScript %> "></div>

<script id="mapScript">
<%- mapScript %> 
</script>
<!-- <script src="../../../scripts/mapService.js"></script> -->


 










<script src="../../../scripts/viewMapSetup.js"></script>
<script src="../../../scripts/deleteList.js"></script>

<script src="../../../scripts/resetModalData.js"></script>


 <%- include("../components/footer") %>
 


