
<%- include("../components/header") %>




<style src="../../styles/modal.css"></style>
<%- include("../components/navbar") %>



<% let listName = "test List" %>
<% let listItems = [{"name": "item1", "desc": "testy test"},{"name":  "name2", "desc": "another testy test"}] %>
<div id="list-data" data-imgurls= "<%=JSON.stringify(imgUrlList) %>" data-gps= "<%=JSON.stringify(GPSList) %>"  data-text= "<%=JSON.stringify(textList) %>" data-list= "<%=JSON.stringify(listObj) %>">

<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="userListMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      User's Lists
    </a>
  
    <div class="dropdown-menu" aria-labelledby="userListMenu">
       
        <% if (userLists && userLists.length>0){%>

           <% userLists.forEach(list => { %>
             

        <a class="dropdown-item" href=<%=`./${Object.values(list)}`%>>   <%=Object.keys(list) %></a>
           <% } )%>
  
        <%}%>

   
    </div>
  </div>



<h1 class="listTitle"><%=listObj.lst_name %></h1>





<div class="row">
    <div class="col-12 col-md-8">


        <%- include("../components/map") %>
    </div>
    <div class="col-6 col-md-4">
       
<% if (listObj.lst_items) {%>
    <ul class="list-group item-list">
    <% listObj.lst_items.forEach((item, ndx)=>{ %>
        <li class="list-group-item"><%= item.itm_Name%><a href="#item-info-modal" data-toggle="modal"><button  data-index=<%=ndx%> type="button" class="btn btn-primary btn-sm viewInfoBtn " data-toggle="modal" data-target="#myModal"   onClick="open_modal(<%= ndx %>)" >view</button></a></li>
   

        <%  }) %>

    </ul>

    <% }%>


    </div>
  </div>




      <div id="item-info-modal" class="modal fade "> 
        
      <div class="modal-dialog modal-xl">
          <div class="modal-content">
             <div class="modal-header"> 
                   <h4 id="modal-list-name" class="modal-title"></h4>
             </div>
           
       <div class="modal-body"> 
         
           <img class="modal-image" id="modal-image" src="" alt="">
           <p id="modal-list-description"></p>

           <p></p>
           <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
       </div>
       
     
        </div> 
      </div>
        
   </div>
  
</div>














<script src="../../scripts/viewMapSetup.js"></script>
<!-- <script src="../../scripts/fakeImageService.js"></script> -->
<script src="../../scripts/fakeMapService.js"></script>
<!-- <script src="../../scripts/fakeWikiScraper.js"></script> -->
<script src="../../scripts/resetModalData.js"></script>


 <%- include("../components/footer") %>